ObjectDetection/apikey.py
5-ImageClass/Yolov11/data

8-Generative/database

8-Generative/database/11.png
8-Generative/database13k
8-Generative/database13k/10.png
dbcreate/archive
DataBaseGen/


12-VideoSources/CalCOFI.csv
